<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Liste des demandes de duplicata</title>
    <link id="global-css" rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <div layout:fragment="content">
        <a href="/sans-donne-anterieur/duplicata"> Créer une nouvelle demande de duplicata </a>
        <div class="container">
            <div class="header-top">
                <h1>LISTE DES DEMANDES DE DUPLICATA</h1>
            </div>
            <table border="1">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Demandeur</th>
                        <th>Passeport</th>
                        <th>Nationalité</th>
                        <th>Statut</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!--  duplicatas.js -->
                </tbody>
            </table>
        </div>
        <script th:src="@{/js/duplicatas.js}"></script>
    </div>
</body>
</html>
