<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste Transfert de Visa</title>
</head>
<body>
    <a href="/sans-donne-anterieur/transfert-visa"> Créer une nouvelle demande de transfert de visa </a>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du demandeur</th>
                <th>Prénom du demandeur</th>
                <th>Numéro de passeport</th>
                <th>Nationalité</th>
                <th>Date de naissance</th>
                <th>Motif du transfert</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <!-- Les données des demandes de transfert de visa seront affichées ici -->
        </tbody>
    </table>
</body>
</html>