<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Liste des VISAs</title>
</head>
<body>
<div layout:fragment="content">
    <h2>Liste des VISAs délivrés</h2>

    <div style="margin-bottom: 20px; padding: 10px; border: 1px solid #ced4da; border-radius: 4px; background-color: #f8f9fa;">
        <label for="startDate">Du :</label>
        <input type="datetime-local" id="startDate">
        
        <label for="endDate" style="margin-left: 10px;">Au :</label>
        <input type="datetime-local" id="endDate">
        
        <button id="btnFilter" style="margin-left: 10px;">Filtrer</button>
    </div>

    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
        <tr style="background-color: #f2f2f2;">
            <th>ID Visa</th>
            <th>Date Création</th>
            <th>Demandeur</th>
            <th>Ancien Passeport</th>
            <th>Nouveau Passeport</th>
            <th>ID Demande</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody id="visaTableBody">
        <!-- JS -->
        </tbody>
    </table>

    <script src="/js/visas.js"></script>
</div>
</body>
</html>
