<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Visa App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&family=Pinyon+Script&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/global.css}">
</head>
<body>
    <div class="layout">
        <aside class="sidebar">
            <div class="brand">
                <div class="crown-logo">&#9819;</div>
                <h1>VISA</h1>
                <span>Departement des visas</span>
            </div>
            <nav class="sidebar-nav">
                <ul class="sidebar-menu">
                    <li class="menu-group">
                        <span class="menu-title">Demande de nouveau titre</span>
                        <ul class="submenu">
                            <li><a class="menu-link" th:href="@{/visa-requests}">Liste</a></li>
                            <li><a class="menu-link" th:href="@{/visa-requests/new}">Creation</a></li>
                        </ul>
                    </li>
                    <li class="menu-group">
                        <span class="menu-title">Demande de transfert de visa</span>
                        <ul class="submenu">
                            <li><a class="menu-link" th:href="@{/transfert-visa}">Liste</a></li>
                            <li><span class="menu-title">Creation</span>
                                <ul class="submenu">
                                    <li><a class="menu-link" th:href="@{/transfert-visa/new/sda}">Sans donnees anterieures</a></li>
                                    <li><a class="menu-link" th:href="@{/transfert-visa/new/ada}">Avec donnees anterieures</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-group">
                        <span class="menu-title">Demande de duplicata</span>
                        <ul class="submenu">
                            <li><a class="menu-link" th:href="@{/duplicata}">Liste</a></li>
                            <li><span class="menu-title">Creation</span>
                                <ul class="submenu">
                                    <li><a class="menu-link" th:href="@{/duplicata/new/sda}">Sans donnees anterieures</a></li>
                                    <li><a class="menu-link" th:href="@{/duplicata/new/ada}">Avec donnees anterieures</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-group">
                        <span class="menu-title">Visa</span>
                        <ul class="submenu">
                            <li><a class="menu-link" th:href="@{/visas}">Liste des visas delivres</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <main class="main-content">
            <div class="content-slot" layout:fragment="content">
                <!-- Content will be replaced here -->
            </div>
        </main>
    </div>
</body>
</html>
