<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title layout:fragment="title">Accueil</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="document-card">
            <div class="doc-header">
                <h1 class="doc-title">Registre Consulaire</h1>
                <p class="doc-subtitle">Accueil des demandes de visa</p>
            </div>
            <p class="lead-text">Choisissez une section pour consulter le registre ou ouvrir une nouvelle demande.</p>
            <ul class="royal-list">
                <li><a class="text-link" th:href="@{/visa-requests}">Demandes de visa</a> - creation et suivi des titres.</li>
                <li><a class="text-link" th:href="@{/transfert-visa}">Transferts de visa</a> - anciens et nouveaux passeports.</li>
                <li><a class="text-link" th:href="@{/duplicata}">Duplicatas</a> - reemission et archives.</li>
            </ul>
        </div>
    </div>
</body>
</html>
